<!-- {{selectedId}}
{{person|json}} -->
<div class="container">
    <div class="person row">
        <ng-container *ngFor="let col of columns">
            <!-- {{col|json}} -->
            <ng-container [ngSwitch]="col.key">

                <ng-container *ngSwitchCase="'id'">
                  <ng-container *ngIf="person != null && person[col.key] > 0">
                    <label>{{ col.text }}</label>
                    <input disabled [type]="col.type" [(ngModel)]="person[col.key]" >
                  </ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'name'">
                    <label>{{ col.text }}</label>
                    <input [type]="col.type"  [(ngModel)]="person[col.key]" >
                </ng-container>

                <ng-container *ngSwitchCase="'sex'">
                    <label>{{ col.text }}</label>
                    <mat-radio-group class="sex" [(ngModel)]="person[col.key]">
                      <mat-radio-button [checked]="person.sex" class="sex" [value]="true">
                        Nő
                      </mat-radio-button>
                      <mat-radio-button [checked]="!person.sex" class="sex" [value]="false">
                        Férfi
                      </mat-radio-button>
                    </mat-radio-group>
                  </ng-container>
                <ng-container *ngSwitchCase="'birthDate'">
                    <label>{{ col.text }}</label>
                    <input [type]="col.type"  [(ngModel)]="person[col.key]" >
                </ng-container>

                <ng-container *ngSwitchCase="'birthLocation'">
                    <label>{{ col.text }}</label>
                    <input [type]="col.type"  [(ngModel)]="person[col.key]" >
                </ng-container>

                <ng-container *ngSwitchCase="'motherId'">
                    <label>{{ col.text }}</label>
                    <input [type]="col.type"  [(ngModel)]="person[col.key]" >
                </ng-container>

                <ng-container *ngSwitchCase="'motherName'">
                    <label>{{ col.text }}</label>
                    <input [value]="person[col.key]" [ngbTypeahead]="searchPeople" (selectItem)="onSelectItem($event)" [resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter" class="form-control" placeholder="Anyja neve:"/>
                </ng-container>
                
                <ng-container *ngSwitchCase="'fatherId'">
                    <label>{{ col.text }}</label>
                    <input [type]="col.type"  [(ngModel)]="person[col.key]" >
                </ng-container>
                
                <ng-container *ngSwitchCase="'fatherName'">
                    <label>{{ col.text }}</label>
                    <input [value]="person[col.key]" [ngbTypeahead]="searchPeople" (selectItem)="onSelectItem($event)" [resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter" class="form-control" placeholder="Apja neve:"/>
                </ng-container>

                <ng-container *ngSwitchCase="'deathDate'">
                    <label>{{ col.text }}</label>
                    <input [type]="col.type"  [(ngModel)]="person[col.key]" >
                </ng-container>

                <ng-container *ngSwitchCase="'deathLocation'">
                    <label>{{ col.text }}</label>
                    <input [type]="col.type"  [(ngModel)]="person[col.key]" >
                </ng-container>

                <ng-container *ngSwitchCase="'children'">
                    <label>{{ col.text }}</label>
                    <ng-container *ngIf="person.children && person.children.length > 0">
                        <!-- <div *ngFor="let child of castToChildType(person.children)" > -->
                        <div *ngFor="let child of person.children" >
                            <label>Azonosítója</label>
                            <input [disabled]="true" type="number" [(ngModel)]="child.id" >
                            <label>Neve</label>
                            <input  type="text" [(ngModel)]="child.name">
                            <button type="button" (click)="zeroForId(child)" class="btn btn-success">nem jó id</button>
                        </div>
                    </ng-container>
                    <button type="button" (click)="newKid()" class="btn btn-success">Új gyerek bevitele</button>

                  </ng-container>

                </ng-container>
              </ng-container>
              <button type="button" (click)="save(person)" class="btn btn-success">Mentés</button>
              <button type="button" (click)="deleteP(person.id)" class="btn btn-danger">Törlés</button>
    </div>
</div>

